<p><%= flash[:create] %></p>
<p><%= flash[:update] %></p>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <p>Title:<%= @book.title %></p>
  <p>Body:<%= @book.body %></p>

  <th><%= link_to "Edit", edit_book_path(@book.id) %></th> |
  <th><a class="back" href="/books">Back</a></th>
<% end %>